.friends {
	&-list {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding-right: 30px;
		row-gap: 20px;
		align-items: center;

		&__no-friends {
			opacity: 0.5;
			margin-top: 30px;
		}
	}
}
