.search {
	&-page {
		display: flex;
		flex-direction: column;
		margin-top: 10px;
		row-gap: 12px;
		width: 100%;
		padding-right: 30px;
	}

	&-wrapper {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
		color: white;
	}

	&-input {
		display: flex;
		column-gap: 10px;
		background: rgba(217, 217, 217, 0.1);
		border: 1px solid rgba(255, 255, 255, 0.8);
		border-radius: 6px;
		font-size: 16px;
		padding: 5px 10px;
		align-items: center;
		max-width: 400px;

		&__magnifier {
			opacity: 0.8;
			width: 16px;
			height: 16px;
		}

		&__input {
			display: flex;
			flex-grow: 1;
			color: white;

			&:focus-visible {
				outline: none;
			}
		}
	}

	&-title {
		color: white;
	}

	&-list {
		display: flex;
		flex-direction: column;
		width: 100%;
		row-gap: 15px;
		align-items: center;

		&__no-results {
			margin-top: 30px;
			opacity: 0.5;
		}
	}
}
