$opacity: 0.8;
$linkColor: #5697ff;

.main-page {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;

	&-advicer {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 40px;

		&-text {
			max-width: 400px;
			text-align: center;
			color: white;
			opacity: $opacity;

			&__link {
				color: $linkColor;
				text-decoration: underline;
			}
		}

		&__img {
			opacity: $opacity;
			user-select: none;
		}
	}
}
