.friends {
	&-layout {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 15px;
		align-items: start;
	}

	&-page {
		display: flex;
		flex-direction: column;
		align-items: start;
		color: white;
		row-gap: 10px;
		padding: 10px 0;
		width: 100%;

		&__title {
			color: white;
			font-size: 18px;
		}
	}

	&-header {
		display: flex;
		align-items: center;
		gap: 10px;
		background-color: rgba(217, 217, 217, 0.1);
		padding: 10px;
		border-radius: 10px;

		&-item {
			display: flex;
			column-gap: 5px;
			align-items: center;
			color: white;
			padding: 3px 8px;
			border-radius: 6px;

			&__img {
				width: 16px;
				height: 16px;
			}

			&_selected {
				background-color: rgba(0, 0, 0, 0.5);
			}
		}
	}

	&-list {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding-right: 30px;
		row-gap: 20px;
		align-items: center;

		&__no-friends {
			opacity: 0.5;
			margin-top: 30px;
		}
	}
}

.friend {
	&-item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}

	&-avatar {
		display: flex;
		align-items: center;
		column-gap: 18px;

		&__img {
			border-radius: 50%;
			cursor: pointer;
		}

		&__name {
			color: white;
		}
	}

	&-actions {
		display: flex;
		column-gap: 17px;

		&__img {
			cursor: pointer;
			opacity: 0.7;

			:hover {
				opacity: 1;
			}
		}
	}
}
