.relative-user {
	&-item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		transition-duration: 0.2s;
		padding: 10px;
		border-radius: 10px;

		&:hover {
			background-color: rgba(255, 255, 255, 0.1);
			cursor: pointer;
		}
	}

	&-avatar {
		display: flex;
		align-items: center;
		column-gap: 18px;

		&__img {
			border-radius: 50%;
			cursor: pointer;
		}

		&__name {
			color: white;
			position: relative;

			&::after {
				content: '';
				height: 1px;
				width: 0px;
				left: 50%;
				transition-duration: 0.2s;
				background-color: white;
				position: absolute;
				bottom: -1px;
			}

			&:hover {
				&::after {
					width: 100%;
					left: 0;
				}
			}
		}
	}

	&-actions {
		display: flex;
		column-gap: 17px;

		&__img {
			cursor: pointer;
			opacity: 0.7;
			transition-duration: 0.2s;

			&:hover {
				opacity: 1;
				transform: scale(1.1, 1.1);
			}
		}
	}
}
