.first-step-page {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	color: white;

	&-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&-added-contacts {
		display: flex;
		flex-wrap: wrap;
		min-height: 30px;
		column-gap: 15px;

		&-wrapper {
			margin: 20px 0 10px;
			display: flex;
			flex-direction: column;
			row-gap: 10px;
		}
	}
}
