.chat-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 8px;

	&__name {
		display: flex;
		flex-grow: 1;
		font-size: 17px;
		color: white;
		margin-left: 20px;
	}
}
