$incomingsCountBackground: #ff3939;

.sidebar-header {
	display: flex;
	flex-direction: column;
	row-gap: 12px;

	&-logo {
		display: flex;
		align-items: center;
		font-size: 20px;
		column-gap: 5px;
		font-weight: bold;
	}

	&-item {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		padding: 0 5px;
	}

	&-add-friends,
	&-create-chat {
		display: flex;
		align-items: center;
		column-gap: 10px;
		font-size: 14px;
	}

	&-incomings-count {
		display: flex;
		justify-content: center;
		align-items: center;

		border-radius: 50%;
		background: $incomingsCountBackground;
		width: 17px;
		height: 17px;
		padding-right: 1px;
		padding-top: 1px;

		font-weight: bold;
		font-size: 12px;
	}
}
